/*****************
****Google Font***
*****************/
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap');
/*****************
****Common CSS****
*****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 30px;
}
a{
    text-decoration: none;
}
.main-btn{
    outline: 0;
    border: 0;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    background-color: #e02c6d;
    border-radius: 30px;
}
.main-btn span {
    margin-left: 5px;
}
/*****************
****Header Area***
*****************/

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.banner-left p {
    line-height: 1.5;
    font-size: 18px;
    margin: 20px 0;
}